<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="/">Go Back</a>
</head>
<body>
    <table border="1">
        <% var qty = 0 %>
        <% var profit = 0 %>
        <% for (order of orders) { %>
            <tr>
                <td colspan="7">
                    <%= order.name %>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <%= order.address %>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <%= order.date %>
                </td>
            </tr>
            <% profit += order.profit %>
            <tr>
                <td>items</td>
                <td>quanity</td>
                <td>unit price</td>
                <td>profit</td>
                <td>retail price</td>
                <td>subtotal</td>
                <td>salexs tax</td>
            </tr>
            <% for (item of order.items) { %>
            <tr>
                <td><%=item.name%></td>
                <td><%=item.qty%></td>
                <td><%=item.unitPrice%></td>
                <td><%=item.profit%></td>
                <td><%=item.retailPrice%></td>
                <td><%=item.subtotal%></td>
                <td><%=item.salesTax%></td>
                
                <% qty += item.qty %>

            </tr>
        <% } %>
        <tr>
            <td>shipping</td>
            <td>profit</td>
            <td>subtotal</td>
            <td>sales tax</td>
            <td colspan="3">total</td>
        </tr>

        <tr>
            <td><%=order.shipping%></td>
            <td><%=order.profit%></td>
            <td><%=order.subtotal%></td>
            <td colspan="3"><%=order.total%></td>
        </tr>
       <% } %>
    </table>
    <b>Units sold today: <%- qty %></b><br>
    <b>Total profit: <%- profit %></b>
</body>
</html>